@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Galano";
  src: url("../public/fonts/galanogrotesque-regular.otf");
}
@font-face {
  font-family: "Galano_medium";
  src: url("../public/fonts/galanogrotesque-medium.otf");
}

@font-face {
  font-family: "Galano_semibold";
  src: url("../public/fonts/galanogrotesque-semibold.otf");
}
